<div class="login-wrapper">
  <!-- LEFT SIDE -->
  <div class="left-section">
    <div class="left-content">
      <img src="images/logo.png" class="app-logo" />

      <h1 class="text">PS Promoter Panel</h1>
      <p class="text">Manage events, collaborate with promoters, and monitor performance in a multilingual experience built for the PartySharing ecosystem.</p>
    </div>
  </div>

  <!-- RIGHT SIDE -->
  <div class="right-section">
    <div class="top-right">
      <app-language-selector></app-language-selector>
    </div>

    <div class="form-container">
      <h2>Welcome back</h2>
      <p class="subtitle">Access the PS Promoter Panel using your secure credentials.</p>

      <form (ngSubmit)="login()">
        <label>Email address</label>
        <input type="text" [(ngModel)]="username" name="username" placeholder="you@email.com" required />

        <label>Password</label>
        <div class="password-box">
          <input type="password" [(ngModel)]="password" name="password" required />
          <span class="eye-icon">👁</span>
        </div>

        <div class="options">
          <label class="remember"> <input type="checkbox" />Remember me</label>
          <a class="forgot">Forgot password?</a>
        </div>

        <button type="submit" class="btn-primary">Sign in</button>
      </form>

      <div class="signup">Need an account? <a>Create one</a></div>
    </div>
  </div>
</div>
