<div class="mobile-container">
  <div class="logo-box">
    <img src="images/logo.png" alt="logo" class="logo" />
    <h2 translate>Login</h2>
  </div>

  <form (ngSubmit)="login()" class="login-form">
    <div class="input-group">
      <input type="text" [(ngModel)]="username" name="username" required autocomplete="off" />
      <label translate>Username</label>
    </div>

    <div class="input-group">
      <input type="password" [(ngModel)]="password" name="password" required />
      <label translate>Password</label>
    </div>

    <button type="submit" class="login-btn">
      {{ 'Login' | translate }}
    </button>
  </form>

  <div class="language-box">
    <app-language-selector [openAbove]="true"></app-language-selector>
  </div>
</div>
