@import "../../../styles/colors.scss";

.login-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.text {
  // display: block;
  // margin-bottom: 5px;
  color: #ffffff;
  font-size: 15px;
}

/* ============================
   LEFT SECTION
============================= */
.left-section {
  width: 50%;
  background: #3f1a53; // screenshot purple
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.left-content {
  text-align: center;
  max-width: 420px;
  padding: 20px;
}

.app-logo {
  width: 110px;
  margin-bottom: 25px;
}

.left-content h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
}

.left-content p {
  font-size: 16px;
  opacity: 0.9;
  line-height: 1.6;
}

/* ============================
   RIGHT SECTION
============================= */
.right-section {
  width: 50%;
  background: white;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.top-right {
  position: absolute;
  right: 30px;
  top: 20px;
}

.form-container {
  width: 100%;
  max-width: 380px;
  margin: auto;
  padding-top: 40px;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  color: #1e293b;
}

.subtitle {
  margin-top: 6px;
  margin-bottom: 28px;
  font-size: 15px;
  color: #475569;
}

/* Inputs */
input {
  width: 100%;
  padding: 12px 14px;
  border: 1.5px solid #cbd5e1;
  border-radius: 10px;
  margin-bottom: 18px;
  font-size: 15px;
  outline: none;
  transition: 0.2s;

  &:focus {
    border-color: $primaryColor;
    box-shadow: 0 0 0 3px rgba(121, 80, 242, 0.2);
  }
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #1e293b;
  font-size: 15px;
}

.password-box {
  position: relative;

  input {
    padding-right: 40px;
  }

  .eye-icon {
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
    opacity: 0.6;
  }
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center; // vertically align checkbox and label
  margin-top: -15px;

  .remember {
    display: flex; // use flex for label content
    align-items: center; // vertically align checkbox and text
    font-size: 14px;
    color: #475569;
    cursor: pointer;

    input {
      margin-right: 6px;
      margin-top: 16px;
      width: 12px; // optional: adjust checkbox size
      height: 12px;
    }
  }

  .forgot {
    color: $primaryColor;
    cursor: pointer;
    font-size: 14px;
  }
}

/* Button */
.btn-primary {
  width: 100%;
  padding: 14px;
  border: none;
  margin-top: 20px;
  background: linear-gradient(to right, #3f1a53, #7b3fa3);
  color: white;
  font-size: 16px;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;

  &:active {
    transform: scale(0.97);
  }
}

.signup {
  text-align: center;
  margin-top: 20px;

  a {
    color: $primaryColor;
    font-weight: 600;
    cursor: pointer;
  }
}
