<nav [class.expanded]="navExpanded" [class.collapsed]="!navExpanded">
  <!-- Toggle Button -->
  <span (click)="toggleSidebar(!navExpanded)" [ngClass]="{ open: navExpanded }" class="toggle-icon">
    <i class="material-icons">menu</i>
  </span>

  <!-- Logo -->
  <div class="logo-container" routerLink="/">
    <img alt="Logo" class="logo" src="images/logo.png" />
    <h4 class="text">James 19</h4>
  </div>

  <!-- Menu Items -->
  <div class="navbar-menu-items" dir="auto">
    <ng-container *ngFor="let item of sidebarItems; let i = index">
      <div *ngIf="shellService.allowedAccess(item)" class="menu">
        <!-- Divider -->
        <ng-container *ngIf="item.divider; else menuItemTemplate">
          <span class="divider"></span>
        </ng-container>

        <!-- Menu Item -->
        <ng-template #menuItemTemplate>
          <a (click)="activateSidebarItem(i)" [class.active]="item.active" [ngClass]="{ disabled: item.disabled }" class="menu-item" [id]="'menu-item-' + i">
            <div class="item">
              <i *ngIf="item.icon" class="material-icons" [style.color]="item.active ? 'var(--gray-400)' : 'var(--sidebar-icon-color)'">
                {{ item.icon }}
              </i>
              <span class="text">{{ item.title | translate }}</span>
            </div>

            <!-- Submenu toggle icon -->
            <span *ngIf="item.subItems?.length" [ngClass]="{ open: sidebarExtendedItem === i }" class="submenu-icon">
              <i class="material-icons">
                {{ sidebarExtendedItem === i ? 'expand_less' : 'expand_more' }}
              </i>
            </span>
          </a>

          <!-- Submenu -->
          <ul *ngIf="item.subItems?.length" [class.open]="sidebarExtendedItem === i" class="sub-menu-items">
            <ng-container *ngFor="let subItem of item.subItems">
              <li *ngIf="shellService.allowedAccess(subItem)" [class.disabled]="subItem.disabled">
                <a (click)="activateSidebarSubItem(i, subItem)" [routerLink]="subItem.href || undefined" routerLinkActive="active" [ngClass]="{ disabled: subItem.disabled }">
                  <i class="material-icons" [style.color]="subItem.active ? 'var(--gray-400)' : 'var(--sidebar-icon-color)'">
                    {{ subItem.icon || 'chevron_right' }}
                  </i>
                  <span>{{ subItem.title | translate }}</span>
                </a>
              </li>
            </ng-container>
          </ul>
        </ng-template>
      </div>
    </ng-container>
  </div>

  <!-- Footer -->
  <div class="sidebar-footer">
    <span class="text">Version {{ version }}</span>
    <span class="text">&copy; {{ year }}</span>
  </div>
</nav>
