$warningColor: red;
$primaryColor: #411b51;
$primaryLight: #561d52;
$iconColor: #411b51;

$chatuserbg: #ffffff;
$chatusername: #979797;
$chatusertext: #411b51;

$chatotherbg: #4d426d;
$chatothername: #979797;
$chatothertext: #ffffff;

$palaceholdertextcolor: grey;
$white: #ffffff;
$black: #000000;

$yellow: #f1b009;
$darkGray: #111827;
$green: #32cd32;

$warning: #ef5350;
$secondary: rgba(246, 246, 246, 1);
$grayOpacityTen: rgba(41, 38, 42, 0.1);
$transparent: transparent;

$error: red;
$red: red;
$placeholder: #656565;

$disabledBackground: #f5f5f5;
$disabledText: #a9a9a9;
$disabledBorder: #d3d3d3;

$link_color: #1a73e8;
$whatsapp_color: #00b141;
$yellow_color: #f7cb73;

$gray_color: #00b141; // confirm if correct
$gray_light: #f5f5f5;
$pale_gray: #e6e6e6;
$pale_light: #979797;
