<header class="app-header">
  <div class="left">
    <!-- <i class="material-icons menu-icon" (click)="onToggleSidebar()">menu</i> -->
    <h2 class="logo">Dashboard</h2>
  </div>

  <div class="search-box">
    <i style="display: flex" class="material-icons">search</i>
    <input type="text" placeholder="Search..." [(ngModel)]="searchText" (input)="onSearchChange()" />
  </div>

  <div class="right">
    <i class="material-icons" style="color: black; margin-right: 10px">notifications</i>
    <app-language-selector />
  </div>
</header>
